.career {
      padding-top: 40px;
      padding-bottom: 30px;
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;  // чтоб гор скролла не было

      @include lg{  // >1024
            padding-top: 100px;
            padding-bottom: 100px;
      }


      &__container {

      }


      &__content {
            margin-bottom: 40px;

            @include md{  // > 768
                  display: grid;
                  grid-template-columns: 1fr min-content;  // min-content - минимально возможный размер
                  justify-content: space-between;
                  grid-template-areas: 
                        'title link'
                        'description  .';
                  gap: 11px 21px;
            }


            @include lg{  // >1024
                  grid-template-columns: 720px min-content;
                  gap: 27px 31px;
                  margin-bottom: 50px;
            }

            @include xl{  
                  grid-template-columns: 690px min-content;
            }
      }


      &__title {
            margin-bottom: 24px;
            font-size: 32px;
            color: $second;
            text-transform: uppercase;

            @include md{  // > 768
                  grid-area: title;
                  margin-bottom: 0;
            }

            @include lg{  // > 1024
                  font-size: 52px;
            }
      }


      &__description {  // грид элемент
            margin-bottom: 24px;
            font-size: 16px;
            
            @include md{  // > 768
                  grid-area: description;
                  // min-width: 528px;
                  margin-bottom: 0;
            }

      }


      &__link {  // грид элемент
            margin-bottom: 40px;

            @include md{  // > 768
                  grid-area: link;
                  margin-bottom: 0;
            }

            @include lg{  // > 1024
                  font-size: 20px;
            }
      }


      &__slider {  
            overflow: visible;  //  стили свайпера: overflow: hidden. Убрали это значение
      }


      &__image-list{

      }
    

      &__image-item{
            height: unset;  // убираем значение установленное свайпером
            display: flex;
            align-items: center;

            @include md{  // > 768
                  &:nth-child(odd){
                        width: 34%;   // 244px
                  }

                  &:nth-child(even){
                        width: 25%;  // 177px
                  }
            }


            @include xl{  // 
                  &:nth-child(odd){
                        width: 28%;   // 379px
                  }

                  &:nth-child(even){
                        width: 20%;  // 275px
                  }
            }
      }
      
     

      


      &__image {
            border-radius: 16px;
      }


      &__slider-pagination {
      }
}
