$back: #FFAA05;
$main: #000000;
$second: #ffffff;

@mixin sm{
      @media(min-width: 576px) {
            @content;  // это те свойства которые передадим 
      }
}


@mixin md{
      @media(min-width: 768px) {
            @content;
      }
      
}


@mixin lg{
      @media(min-width: 1024px) {
            @content;
      }
      
}


@mixin xl{
      @media(min-width: 1240px) {
            @content;
      }
      
}


@mixin xxl{
      @media(min-width: 1600px) {
            @content;
      }
      
}